<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="./styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="./styles/main.css">
        <link rel="stylesheet" type="text/css" href="./styles/vazir-fonts.css">
        <link rel="stylesheet" type="text/css" href="./styles/actor.css">

        <title>Actor</title>
    </head>
    <body>
      <nav class="navbar navbar-expand iemdb-navbar">
        <div class="navbar-brand col-1 pl-0">
            <a href="./movies.html">
                <img src="imgs/logo.png" class="iemdb-logo ml-0" alt="">
            </a>
        </div>

        <div class="col-10"></div>

        <div class="col-1">
            <ul class="user menu">
                <li>
                  <a><i class="fas fa-user-circle fa-3x iemdb-user"></i></a>
                  <ul>    
                    <li class="iemdb-user-elemnt iemdb-rounded-top"><a href='#' class="color-white" >salehi@gmail.com</a></li>    
                    <li class="iemdb-user-elemnt iemdb-rounded-bottom"><a href='./watchlist.html' class="color-white">watch list</a></li>     
                  </ul> 
                </li>
            </ul>
        </div>
      </nav>

      <div class="main-container">
        <div class="row mr-0">
          <div class="col-sm-3">
            <img src="./imgs/actor-1.png" class="iemdb-actor-image" alt="">
          </div>
          <div class="col-sm-9">
            <div class="row ml-0 mr-0 mt-4">
              <div class="col-7 iemdb-actor-info">
                <h5>مشخصات بازیگر</h5>
              </div>
              <div class="col-5 iemdb-actor-info">
              </div>
            </div>
            <div class="row ml-0 mr-0 mt-4">
              <div class="col-7 iemdb-actor-info">
              </div>
              <div class="col-5 iemdb-actor-info">
                <p dir="rtl">نام: Tom Holland</p> 
                <p dir="rtl">تاریخ تولد: 1/06/1996</p>
                <p dir="rtl">ملیت: UK</p>
                <p dir="rtl">تعداد فیلم: 4</p>
              </div>
            </div>
            <div class="row ml-0 mr-0 mt-4 mb-4">
              <div class="col-7 iemdb-actor-info">
                <h5 class="pr-4">فیلم ها</h5>
              </div>
              <div class="col-5 iemdb-actor-info"></div>
            </div>
            <div class="row ml-0 mr-0 pr-2 iemdb-actor-movie-container">
              <div class="col">
                <div class="iemdb-actor-movie">
                  <img src="./imgs/movie-1.jpg" class="iemdb-actor-movie-image" alt=""/>
                  <div class="iemdb-actor-movie-overlay">Spider Man: No Way Home <br /><br /> 8.3</div>
                </div>
              </div>
              <div class="col">
                <div class="iemdb-actor-movie">
                  <img src="./imgs/movie-7.jpg" class="iemdb-actor-movie-image" alt=""/>
                  <div class="iemdb-actor-movie-overlay">Uncharted <br /><br /> 7.4</div>
                </div>
              </div>
              <div class="col">
                <div class="iemdb-actor-movie">
                  <img src="./imgs/movie-8.jpg" class="iemdb-actor-movie-image" alt=""/>
                  <div class="iemdb-actor-movie-overlay">Chaos Walking <br /><br /> 5.7</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </body> 
</html> 