<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="./styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="./styles/main.css">
        <link rel="stylesheet" type="text/css" href="./styles/vazir-fonts.css">
        <link rel="stylesheet" type="text/css" href="./styles/movie.css">

        <title>Movie</title>
    </head>
    <body>
        <nav class="navbar navbar-expand iemdb-navbar">
        <div class="navbar-brand col-1 pl-0">
            <a href="./movies.html">
                <img src="imgs/logo.png" class="iemdb-logo ml-0" alt="">
            </a>
        </div>

        <div class="col-10"></div>

        <div class="col-1">
            <ul class="user menu">
                <li>
                    <a><i class="fas fa-user-circle fa-3x iemdb-user"></i></a>
                    <ul>    
                    <li class="iemdb-user-elemnt iemdb-rounded-top"><a href='#' class="color-white" >salehi@gmail.com</a></li>    
                    <li class="iemdb-user-elemnt iemdb-rounded-bottom"><a href='./watchlist.html' class="color-white">watch list</a></li>    
                    </ul> 
                </li>
            </ul>
        </div>
        </nav>
        <div class="main-container">
            <div class="row color-white ml-0 width-100">
                <img class="iemdb-movie-info-img" src="./imgs/movie-9.jpg" alt=""/>
            </div>
            <div class="row color-white ml-0 width-100 iemdb-movie-info">
                <div class="col-custom-20" ></div>
                <div class="col-custom-60" >
                    <div class="row width-100">
                        <div class="col-3 pr-0 pl-0 ml-0 mr-0 iemdb-movie-poster-container">
                            <img class="iemdb-movie-poster" src="./imgs/movie-10.jpg" alt=""/>
                        </div>
                        <div class="col-6 pr-0 pl-0 ml-0 mr-0 ">
                            <div>
                                <div class="col text-align-left pr-0 pl-2 ">
                                    <p class="font-size-11">Spider-Man: No Way Home</p>
                                </div>
                                <div class="col text-align-right pr-1 pl-0 " dir="rtl">
                                    <p>کارگردان: Jon Watts</p>
                                    <p>نویسنده: Stan Lee Chris McKennam Steve Ditko</p>
                                    <p>مدت زمان: 145 دقیقه</p>
                                </div>
                                <div class="col text-align-left pr-0 pl-2 mt-5" dir="rtl">
                                    <p>تاریخ انتشار: 2021/12/17</p>
                                </div>
                            </div>
                            <hr class="seprator"/>
                            <div class="row text-align-right pl-3 pr-3" dir="rtl">
                                <p>پس از افشای هویت مرد عنکبوتی توسط میستریو، شهرت و زندگی پارکر زیر و رو می شود. او از دکتر می خواهد تا با جادو به بازگرداندن هویت مخفی اش کمک کند، اما این کار عواقب غیر منتظره ای دارد که باعث می شود پارکر معنای واقعی مرد عنکبوتی بودن را دریابد...</p>
                            </div>
                        </div>
                        <div class="col-3 iemdb-movie-score pt-5 ml-0 mr-0">
                            <h1 class="text-align-center">8.8</h1>
                            <br />
                            <p class="text-align-center"><span class="fa fa-star checked fa-2x"></span></p>
                            <div class="row iemdb-movie-score-row" dir="rtl">
                                <div class="col-7 text-align-right">
                                    <p class="font-size-12">امتیاز کاربران</p>
                                    <p class="text-align-center pl-4 iemdb-movie-vote-count">(23 رای)</p>
                                </div>
                                <div class="col-5 pt-2 pr-0">
                                    <h3 class="text-align-right">8.3</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-custom-20"></div>
            </div>
            <div class="row width-100">
                <div class="col-custom-20"></div>
                <div class="col-custom-60">
                    <div class="row iemdb-movie-cast ml-0 mr-0 pt-3 width-100">
                        <div class="col-12 text-align-center mt-0 mb-0 pt-0 pb-0">
                            <p class="font-size-11">بازیگران</p>
                        </div>
                        <div class="row ml-0 mr-0 iemdb-cast-row width-100 flex-row flex-nowrap overflow-auto">
                            <div class="col-3">
                                <div class="iemdb-movie-actor">
                                    <img src="./imgs/actor-2.jpg" class="iemdb-movie-actor-image" alt=""/>
                                    <a href="./actor.html"><div class="iemdb-movie-actor-overlay">Tom Holland <br />Age: 25</div></a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="iemdb-movie-actor">
                                    <img src="./imgs/actor-3.jpg" class="iemdb-movie-actor-image" alt=""/>
                                    <a href="./actor.html"><div class="iemdb-movie-actor-overlay">Zendaya <br />Age: 25</div></a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="iemdb-movie-actor">
                                    <img src="./imgs/actor-4.jpg" class="iemdb-movie-actor-image" alt=""/>
                                    <a href="./actor.html"><div class="iemdb-movie-actor-overlay">Toby Maguire <br />Age: 46</div></a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="iemdb-movie-actor">
                                    <img src="./imgs/actor-5.jpg" class="iemdb-movie-actor-image" alt=""/>
                                    <a href="./actor.html"><div class="iemdb-movie-actor-overlay">Andrew Garfield <br />Age: 38</div></a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="iemdb-movie-actor">
                                    <img src="./imgs/actor-6.jpg" class="iemdb-movie-actor-image" alt=""/>
                                    <a href="./actor.html"><div class="iemdb-movie-actor-overlay">Benedict Cumberbatch <br />Age: 45</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-custom-20"></div>
            </div>
            <div class="row width-100 mb-5">
                <div class="col-custom-20"></div>
                <div class="col-custom-60">
                    <div class="row iemdb-movie-comment ml-0 mr-0 pt-3 width-100">
                        <div class="col-12 text-align-center mt-0 mb-0 pt-0 pb-0">
                            <p class="font-size-11">دیدگاه ها</p>
                        </div>
                        <div class="row ml-0 mr-0 iemdb-comment-row width-100 pb-4">
                            <div class="col-12 mt-4 iemdb-movie-comment-item">
                                <div class="col-12 text-align-right" dir="rtl">
                                    دیدگاه خود را اضافه کنید:
                                </div>
                                <hr />
                                <div class="col-12 mb-3">
                                    <textarea dir="auto" class="iemdb-input-comment" rows="4" cols="50"></textarea>
                                </div>
                                <div class="col-12 p-0">
                                    <button type="submit" class="text-align-center iemdb-input-comment-button">ثبت</button>
                                </div>
                            </div>
                            <div class="col-12 mt-4 iemdb-movie-comment-item">
                                <div class="col-12 text-align-right" dir="rtl">
                                    علی
                                </div>
                                <hr />
                                <div class="col-12">
                                    <div class="row width-100">
                                        <div class="col-2 mr-0 mt-0 mb-0">
                                            <div class="col-12 m-0 p-0">
                                                <div class="row width-100">
                                                    <div class="col m-0 p-0"><i class="fa fa-chevron-circle-down down-vote"></i><br/><p class="pl-2">5</p></div>
                                                    <div class="col m-0 p-0"><i class="fa fa-chevron-circle-up up-vote"></i><br/><p class="pl-1">12</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-10 text-align-right" dir="rtl">
                                            فیلم تاثیر گذاری بود
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-4 iemdb-movie-comment-item">
                                <div class="col-12 text-align-right" dir="rtl">
                                    حسن
                                </div>
                                <hr />
                                <div class="col-12">
                                    <div class="row width-100">
                                        <div class="col-2 mr-0 mt-0 mb-0">
                                            <div class="col-12 m-0 p-0">
                                                <div class="row width-100">
                                                    <div class="col m-0 p-0"><i class="fa fa-chevron-circle-down down-vote"></i><br/><p class="pl-2">2</p></div>
                                                    <div class="col m-0 p-0"><i class="fa fa-chevron-circle-up up-vote"></i><br/><p class="pl-1">5</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-10 text-align-right" dir="rtl">
                                            زیبا
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-4 iemdb-movie-comment-item">
                                <div class="col-12 text-align-right" dir="rtl">
                                    مصطفی
                                </div>
                                <hr />
                                <div class="col-12">
                                    <div class="row width-100">
                                        <div class="col-2 mr-0 mt-0 mb-0">
                                            <div class="col-12 m-0 p-0">
                                                <div class="row width-100">
                                                    <div class="col m-0 p-0"><i class="fa fa-chevron-circle-down down-vote"></i><br/><p class="pl-2">13</p></div>
                                                    <div class="col m-0 p-0"><i class="fa fa-chevron-circle-up up-vote"></i><br/><p class="pl-1">1</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-10 text-align-right" dir="rtl">
                                            نپسندیدم
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-custom-20"></div>
            </div>
        </div>
    </body> 
</html> 