<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="./styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="./styles/main.css">
        <link rel="stylesheet" type="text/css" href="./styles/vazir-fonts.css">
        <link rel="stylesheet" type="text/css" href="./styles/movies.css">

        <title>Movies</title>
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-fixed-top navbar-inverse iemdb-navbar">
            <div class="navbar-brand col-1 pl-0">
                <a href="./movies.html">
                    <img src="imgs/logo.png" class="iemdb-logo ml-0" alt="">
                </a>
            </div>

            <div class="col-1 "></div>

            <div class="col-2 ">
                <ul class="menu cart">
                    <li>
                        <div class="iemdb-cart-box">
                            <div class="iemdb-cart-input" dir="rtl">
                                <p>جستجو بر اساس:</p>
                            </div>
                            
                            <div class="iemdb-cart-icon">
                                <i class="fas fa-caret-down fa-2x "></i>
                            </div>
                            <ul>    
                                <li class="iemdb-user-elemnt iemdb-rounded-top"><a href='#' class="color-white" >نام</a></li>
                                <li class="iemdb-user-elemnt"><a href='#' class="color-white">ژانر</a></li>
                                <li class="iemdb-user-elemnt iemdb-rounded-bottom"><a href='#' class="color-white">تاریخ تولید</a></li>
                            </ul> 
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-3 ">
                <form action="#">
                    <div class="iemdb-search-box" >
                        <input class="iemdb-search-input" type="search" name="search" dir="auto">
                        <button class="fas fa-search fa-lg iemdb-search-icon"></button>
                    </div>
                </form>
            </div>

            
            <div class="col-4 "> </div>

            <div class="col-1">
                <ul class="user menu">
                    <li>
                      <a><i class="fas fa-user-circle fa-3x iemdb-user"></i></a>
                      <ul>    
                        <li class="iemdb-user-elemnt iemdb-rounded-top"><a href='./login.html' class="color-white" >ورود</a></li>    
                        <li class="iemdb-user-elemnt iemdb-rounded-bottom"><a href='./signup.html' class="color-white">ثبت نام</a></li>    
                      </ul> 
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main-container">
            <div class="row width-100 mt-5">
                <div class="col-2"></div>

                <div class="col-8 row">
                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Inception<br><br>8.8</p></div>
                            <img src="./imgs/movie-2.jpg" alt="">
                        </a>
                    </div>
        
                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Spider Man<br><br>8.5</p></div>
                            <img src="./imgs/movie-1.jpg" alt="">
                        </a>
                    </div>

                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>The Salesman<br><br>7.7</p></div>
                            <img src="./imgs/movie-11.jpg" alt="">
                        </a>
                    </div>
        
                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Tenet<br><br>7.4</p></div>
                            <img src="./imgs/movie-6.jpg" alt="">
                        </a>
                    </div>

                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>The Godfather<br><br>9.2</p></div>
                            <img src="./imgs/movie-3.jpg" alt="">
                        </a>
                    </div>
        
                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Inception<br><br>8.8</p></div>
                            <img src="./imgs/movie-2.jpg" alt="">
                        </a>
                    </div>
        
                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Spider Man<br><br>8.5</p></div>
                            <img src="./imgs/movie-1.jpg" alt="">
                        </a>
                    </div>

                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>The Salesman<br><br>7.7</p></div>
                            <img src="./imgs/movie-11.jpg" alt="">
                        </a>
                    </div>
        
                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Tenet<br><br>7.4</p></div>
                            <img src="./imgs/movie-6.jpg" alt="">
                        </a>
                    </div>

                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>The Godfather<br><br>9.2</p></div>
                            <img src="./imgs/movie-3.jpg" alt="">
                        </a>
                    </div>

                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Inception<br><br>8.8</p></div>
                            <img src="./imgs/movie-2.jpg" alt="">
                        </a>
                    </div>
        
                    <div class="col-3 iemdb-movies-movie ">
                        <a href="./movie.html">
                            <div><p>Spider Man<br><br>8.5</p></div>
                            <img src="./imgs/movie-1.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-2 mt-5">
                    <div><p class="iemdb-sort-title" dir="rtl"> رتبه بندی بر اساس:</p>  </div>
                    <ul class="iemdb-sort-list">
                        <li class="iemdb-user-elemnt iemdb-rounded-top" dir="rtl"><a href='#' class="color-white" >تاریخ</a></li>
                        <li class="iemdb-user-elemnt iemdb-rounded-bottom" dir="rtl"><a href='#' class="color-white">امتیاز IMDB</a></li>
                    </ul> 
                </div>
            </div>
        </div>

    </body> 
</html> 