<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="./styles/main.css">
        <link rel="stylesheet" type="text/css" href="./styles/vazir-fonts.css">
        <link rel="stylesheet" type="text/css" href="./styles/watchlist.css">

        <title>Watch List</title>
    </head>
    <body>
      <nav class="navbar navbar-expand iemdb-navbar navbar-fixed-top">
        <div class="navbar-brand col-1 pl-0">
            <a href="./movies.html">
                <img src="imgs/logo.png" class="iemdb-logo ml-0" alt="">
            </a>
        </div>

        <div class="col-10"></div>

        <div class="col-1">
            <ul class="user menu">
                <li>
                  <a><i class="fas fa-user-circle fa-3x iemdb-user"></i></a>
                  <ul>    
                    <li class="iemdb-user-elemnt iemdb-rounded-top"><a href='#' class="color-white" >salehi@gmail.com</a></li>    
                    <li class="iemdb-user-elemnt iemdb-rounded-bottom"><a href='./watchlist.html' class="color-white">watch list</a></li>     
                  </ul> 
                </li>
            </ul>
        </div>
      </nav>
      <div class="main-container">
        <div class="container-fluid mt-5 mb-5">
          <div class="row">
              <div class="col-3"></div>
              <div class="col-6 pr-5 pl-5">
                <div class="card mb-3 iemdb-watchlist-card">
                  <div class="row">
                    <div class="col-md-3">
                      <a href="./movie.html"><img src="./imgs/movie-3.jpg" class="card-img iemdb-watchlist-card-img" alt=""></a>
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="iemdb-watchlist-movie-name">
                          <p><span class="iemdb-watchlist-movie-title">The Godfather</span><span class="iemdb-watchlist-trash"><i class="fas fa-trash color-red"></i></span></p>
                        </div>
                      </div>
                      <div class="row iemdb-watchlist-movie-info">
                        <div class="col-5 text-align-right pr-4">
                          <br />
                          <br />
                          <p>9.2 <b dir="rtl">امتیاز IMDB: </b></p>
                          <br />
                          <p><b>امتیاز کاربران: </b>9.1</p>
                        </div> 
                        <div class="col-7 text-align-right pr-4" dir="rtl">
                          <p><b>کارگردان: </b>Francis Ford Coppola</p>
                          <p><b>ژانر: </b>جنایی، درام</p>
                          <p><b>تاریخ انتشار: </b>1972/03/2</p>
                          <p><b>مدت زمان: </b>175 دقیقه</p>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3 iemdb-watchlist-card">
                  <div class="row">
                    <div class="col-md-3">
                      <a href="./movie.html"><img src="./imgs/movie-2.jpg" class="card-img iemdb-watchlist-card-img" alt=""></a>
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="iemdb-watchlist-movie-name">
                          <p><span class="iemdb-watchlist-movie-title">The Inception</span><span class="iemdb-watchlist-trash"><i class="fas fa-trash color-red"></i></span></p>
                        </div>
                      </div>
                      <div class="row iemdb-watchlist-movie-info">
                        <div class="col-5 text-align-right pr-4">
                          <br />
                          <br />
                          <p>8.7 <b dir="rtl">امتیاز IMDB: </b></p>
                          <br />
                          <p><b>امتیاز کاربران: </b>8.2</p>
                        </div> 
                        <div class="col-7 text-align-right pr-4" dir="rtl">
                          <p><b>کارگردان: </b>Christopher Nolan</p>
                          <p><b>ژانر: </b>اکشن، ماجراجویی، علمی-تخیلی</p>
                          <p><b>تاریخ انتشار: </b>2010/07/15</p>
                          <p><b>مدت زمان: </b>148 دقیقه</p>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3"></div> 
          </div>
          <div class="row iemdb-watchlist-recom-row">
            <div class="col-2"></div>
            <div class="col-8 iemdb-watchlist-container">
              <div class="row">
                <div class="col">
                </div>
                <div class="col">
                  <p class="color-white text-align-center mt-2">فیلم های پیشنهادی</p>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="iemdb-watchlist-recom-movie">
                    <img src="./imgs/movie-4.jpg" class="iemdb-watchlist-recom-movie-image" alt=""/>
                    <div class="iemdb-watchlist-recom-movie-overlay">The Conjuring <br /><br /> 7.5</div>
                  </div>
                </div>
                <div class="col">
                  <div class="iemdb-watchlist-recom-movie">
                    <img src="./imgs/movie-5.jpg" class="iemdb-watchlist-recom-movie-image" alt=""/>
                    <div class="iemdb-watchlist-recom-movie-overlay">Once Upon a Time in Hollywood <br /><br /> 7.6</div>
                  </div>
                </div>
                <div class="col">
                  <div class="iemdb-watchlist-recom-movie">
                    <img src="./imgs/movie-6.jpg" class="iemdb-watchlist-recom-movie-image" alt=""/>
                    <div class="iemdb-watchlist-recom-movie-overlay">Tenet <br /><br /> 7.4</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>  
      </div>
          
    </body> 
</html> 