p {
    font-size: 0.9vw;
}

h1{
    margin: 0;
    font-size: 2.5rem;
}

.font-size-12 {
    font-size: 1.2vw;
}

.font-size-11 {
    font-size: 1.1vw;
}

.iemdb-movie-info-img {
    width: 100%;
    height: 30em;
    object-fit: cover;
    object-position: top;
}

.col-custom-20 {
    position: relative;
    float: left;
    width: 20%;
}

.col-custom-60 {
    position: relative;
    float: left;
    width: 60%;
}

.iemdb-movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iemdb-movie-poster-container {
    height: 15em;
}

.seprator {
    border-top: 0.001em solid #4E4E50;
    width: 85%;
}

.iemdb-movie-info {
    margin-top: -12%;
}

.iemdb-movie-score {
    width: 100%;
    height: 13em;
    background-color: rgba(177, 32, 36, 0.8);
}

.checked {
    color: orange;
}

.iemdb-movie-score-row {
    margin-top: -10%;
}

.iemdb-movie-vote-count {
    font-size: 0.9vw;
    color: #bababb;
    margin-top: -15%;
}

.iemdb-movie-cast {
    margin-top: 0;
    background-color: #4E4E50;
    border-radius: 1em;
    color: white;
    margin-top: 5em;
}

.iemdb-movie-comment {
    margin-top: 0;
    background-color: #4E4E50;
    border-radius: 1em;
    color: white;
    margin-top: 1em;
}

.iemdb-movie-actor-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-left: 20%;
}

.iemdb-movie-actor {
    position: relative;
    width: 70%;
    height: 8em;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.iemdb-movie-actor-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(177, 32, 37, 0.4);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30%;
    text-align: center;
    font-size: 1vw !important;
    border-radius: 50%;
    margin-left: 20%;
  }
  
.iemdb-movie-actor:hover .iemdb-movie-actor-overlay {
    opacity: 1;
}

.overflow-auto {
    overflow: auto;
}

.iemdb-cast-row {
    margin-top: -2%;
}

.iemdb-comment-row {
    padding-left: 4em;
    padding-right: 4em;
}

.iemdb-movie-comment-item {
    background-color: white;
    color: black;
    border-radius: 1em;
    font-size: 0.9em !important;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.iemdb-input-comment {
    width: 100%;
    height: 5em;
    border: none;
    resize: none;
    padding: 0.5em;
    font-size: 0.9vw;
    border-radius: 1em;
}

.iemdb-input-comment-button {
    width: 15%;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(78, 203, 113);
    color: white;
}

hr {
    margin-top: 0.2em;
}

.up-vote {
    color: rgb(78, 203, 113);
    font-size: 1.8vw;
}

.down-vote {
    color: rgb(242, 78, 30);
    font-size: 1.8vw;
}

.scores-margin {
    margin-left: 0em;
}

.star-container{
    margin-left: -12em;
    margin-top: -1em;
}


.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
  }
  .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }
  .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
  }
  .rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
  .rating-label {
    margin-block-end: 1rem;
  }