html {
    font-size: 1.2vw;
}

.iemdb-actor-image {
    width: 93%;
    height: 99.5%;
}

.iemdb-actor-info {
    color: white;
    text-align: right;
    padding-right: 80px;
}

.iemdb-actor-movie-container {
    background-color: #4E4E50;
    width: 97%;
    border-radius: 1em;
}

.iemdb-actor-movie-image {
    width: 100%;
    height: 100%;
}

.iemdb-actor-movie {
    position: relative;
    width: 70%;
    height: 12em;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 17%;
}

.iemdb-actor-movie-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(177, 32, 37, 0.4);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    text-align: center;
    font-size: 1vw !important;
  }
  
.iemdb-actor-movie:hover .iemdb-actor-movie-overlay {
    opacity: 1;
}